<nav class="navbar navbar-expand-lg bg-info">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <i class="fa fa-home"></i>
            DigitAllOcean
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Dil Seçici Buton -->
            <div class="ms-auto">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ 'LANGUAGE' | translate }}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" (click)="switchLanguage('en')">English</a></li>
                        <li><a class="dropdown-item" (click)="switchLanguage('fr')">Français</a></li>
                        <li><a class="dropdown-item" (click)="switchLanguage('pt')">Português</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>