<!-- Button to trigger the modal -->
<div class="container">
    <button class="btn btn-success mt-4 w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa fa-plus"></i>
        {{ 'ADD_CREW' | translate }}
    </button>

    <hr>

   
   <!-- Card Grid for displaying persons -->
   <div class="row mt-4">
    <div class="col-md-12 mb-4" *ngFor="let card of person; let cardIndex = index">
      <div class="card shadow-sm rounded">
        <div class="card-body">
          <h5 class="card-title mb-3">{{ card.title | translate }}</h5>
          <div class="table-responsive">
            <table class="table table-striped table-bordered card-table">
              <thead class="thead-dark">
                <tr>
                  <th>{{ 'FIRST_NAME' | translate }}</th>
                  <th>{{ 'LAST_NAME' | translate }}</th>
                  <th>{{ 'NATIONALITY' | translate }}</th>
                  <th>{{ 'TITLE' | translate }}</th>
                  <th>{{ 'CERTIFICATES' | translate }}</th>
                  <th>{{ 'DAYS_ON_BOARD' | translate }}</th>
                  <th>{{ 'DAILY_RATE' | translate }}</th>
                  <th>{{ 'CURRENCY' | translate }}</th>
                  <th>{{ 'DISCOUNT' | translate }}</th>
                  <th>{{ 'TOTAL_INCOME' | translate }}</th>
                  <th>{{ 'ACTIONS' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let member of card.rows; let rowIndex = index">
                  <td>{{ member.name }}</td>
                  <td>{{ member.lastName }}</td>
                  <td>{{ member.nationality }}</td>
                  <td>{{ member.title }}</td>
                  <td>{{ member.certificates.join(', ') }}</td>
                  <td>{{ member.daysOnBoard }}</td>
                  <td>{{ member.dailyRate }}</td>
                  <td>{{ member.currency }}</td>
                  <td>
                    <input
                      type="number"
                      class="form-control form-control-sm"
                      [(ngModel)]="member.discount"
                      (ngModelChange)="updateDiscount(cardIndex, rowIndex, $event)"
                      [placeholder]="'ENTER_DISCOUNT' | translate"
                      min="0"
                      max="100"
                      step="0.01"
                    />
                  </td>
                  <td>{{ member.totalIncome }}</td>
                  <td>
                    <div class="action-buttons">
                      <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/crew', cardIndex, rowIndex]">
                        <i class="far fa-eye"></i>
                        {{ 'VIEW' | translate }}
                      </button>
                      <button type="button" class="btn btn-success btn-sm" (click)="openModal(cardIndex, rowIndex)" data-bs-toggle="modal" data-bs-target="#certificatesModal">
                        <i class="fas fa-edit"></i>
                        {{ 'EDIT' | translate }}
                      </button>
                      <button type="button" class="btn btn-danger btn-sm" (click)="deletePerson(cardIndex, rowIndex)">
                        <i class="far fa-trash-alt"></i>
                        {{ 'DELETE' | translate }}
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Certificates Modal -->
<div class="modal fade" id="certificatesModal" tabindex="-1" aria-labelledby="certificatesModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="certificatesModalLabel">{{ 'CERTIFICATES' | translate }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="selectedPerson">
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>{{ 'CERTIFICATES_OF_SHIP_PERSONNEL' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let certificate of selectedPerson.certificates">
                  <td>{{ certificate }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for adding new person -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Crew</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group mt-2">
                  <label for="name">{{ 'FIRST_NAME' | translate }} :</label>
                  <input type="text" id="name" class="form-control" [(ngModel)]="newPerson.name">
              </div>
              
              <div class="form-group mt-2">
                  <label for="lastName">{{ 'LAST_NAME' | translate }} :</label>
                  <input type="text" id="lastName" class="form-control" [(ngModel)]="newPerson.lastName">
              </div>
              
              <div class="form-group mt-2">
                  <label for="nationality">{{ 'NATIONALITY' | translate }} :</label>
                  <input type="text" id="nationality" class="form-control" [(ngModel)]="newPerson.nationality">
              </div>
              
              <div class="form-group mt-2">
                  <label for="title">{{ 'TITLE' | translate }} :</label>
                  <input type="text" id="title" class="form-control" [(ngModel)]="newPerson.title">
              </div>
              
              <!-- Certificates selection -->
              <div class="form-group mt-2">
                  <label for="certificates">{{ 'CERTIFICATES' | translate }} :</label>
                  <div id="certificates" class="form-check">
                      <div *ngFor="let cert of availableCertificates">
                          <input
                              class="form-check-input"
                              type="checkbox"
                              [value]="cert"
                              [id]="cert"
                              (change)="onCertificatesChange($event)"
                              [checked]="newPerson.certificates.includes(cert)"
                          >
                          <label class="form-check-label" [for]="cert">
                              {{ cert }}
                          </label>
                      </div>
                  </div>
              </div>
              
              <div class="form-group mt-2">
                  <label for="daysOnBoard">{{ 'DAYS_ON_BOARD' | translate }} :</label>
                  <input
                      type="number"
                      id="daysOnBoard"
                      class="form-control"
                      [(ngModel)]="newPerson.daysOnBoard"
                      (ngModelChange)="updateTotalIncome()"
                  >
              </div>
              
              <div class="form-group mt-2">
                  <label for="dailyRate">{{ 'DAILY_RATE' | translate }} :</label>
                  <input
                      type="number"
                      id="dailyRate"
                      class="form-control"
                      [(ngModel)]="newPerson.dailyRate"
                      (ngModelChange)="updateTotalIncome()"
                  >
              </div>
              
              <div class="form-group mt-2">
                  <label for="currency">{{ 'CURRENCY' | translate }} :</label>
                  <select id="currency" class="form-control" [(ngModel)]="newPerson.currency">
                      <option value="USD">USD</option>
                      <option value="EUR">EUR</option>
                  </select>
              </div>

              <div class="form-group">
                  <label for="discount">{{ 'DISCOUNT' | translate }} (%)</label>
                  <input type="number" id="discount" [(ngModel)]="newPerson.discount" (input)="updateTotalIncome()" class="form-control" />
              </div>
              
              <div class="form-group mt-2">
                  <label for="totalIncome">{{ 'TOTAL_INCOME' | translate }} :</label>
                  <input type="number" id="totalIncome" class="form-control" [value]="newPerson.totalIncome" disabled>
              </div>
              
              <div class="form-group mt-2">
                  <button class="btn btn-primary" (click)="addPerson()">{{ 'ADD_CREW' | translate }}</button>
              </div>
              
              <!-- Temporary Table to show added persons in the modal -->
              <table class="table mt-4" *ngIf="tempPerson.length > 0">
                  <thead>
                      <tr>
                        <th mat-header-cell *matHeaderCellDef>{{ "FIRST_NAME" | translate }}</th>
                        <th>{{ 'FIRST_NAME' | translate }}</th>
                        <th>{{ 'LAST_NAME' | translate }}</th>
                        <th>{{ 'NATIONALITY' | translate }}</th>
                        <th>{{ 'TITLE' | translate }}</th>
                        <th>{{ 'CERTIFICATES' | translate }}</th>
                        <th>{{ 'DAYS_ON_BOARD' | translate }}</th>
                        <th>{{ 'DAILY_RATE' | translate }}</th>
                        <th>{{ 'CURRENCY' | translate }}</th>
                        <th>{{ 'DISCOUNT' | translate }}</th>
                        <th>{{ 'TOTAL_INCOME' | translate }}</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let member of tempPerson">
                          <td>{{ member.name }}</td>
                          <td>{{ member.lastName }}</td>
                          <td>{{ member.nationality }}</td>
                          <td>{{ member.title }}</td>
                          <td>{{ member.certificates }}</td>
                          <td>{{ member.daysOnBoard }}</td>
                          <td>{{ member.dailyRate }}</td>
                          <td>{{ member.currency }}</td>
                          <th>{{ member.discount }}</th>
                          <td>{{ member.totalIncome }}</td>
                      </tr>
                  </tbody>
              </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveChanges()">{{ 'SAVE_CHANGES' | translate }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Divs to show total income by currency -->
<div class="container mt-4">
  <h4>{{ 'TOTAL_INCOME_BY_CURRENCY' | translate }}</h4>
  <div class="row">
    <div class="col-md-6">
      <h5>{{ 'USD' | translate }}: {{ totalIncomeByCurrency['USD'] | number: '1.2-2' }}</h5>
    </div>
    <div class="col-md-6">
      <h5>{{ 'EUR' | translate }}: {{ totalIncomeByCurrency['EUR'] | number: '1.2-2' }}</h5>
    </div>
  </div>
</div>
<br>